services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: qualidade
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  backend:
    build:
      context: ./backend
    environment:
      - SECRET_KEY=troque-esta-chave
      - DATABASE_URL=postgresql+psycopg://postgres:postgres@db:5432/qualidade
      - FLASK_ENV=production
    ports:
      - "5010:5010"
    depends_on:
      - db

  frontend:
    image: node:20-alpine
    working_dir: /app
    volumes:
      - ./frontend:/app
    command: sh -c "npm install && npm run dev -- --host 0.0.0.0 --port 5173"
    ports:
      - "5173:5173"
    depends_on:
      - backend

volumes:
  pgdata:
